body {
    background-color: rgb(238, 197, 114);
}
*{
    box-sizing: border-box;
}
.wrapper{
    width: 1100px;
    margin: 30px auto;
}

header{
    background-color: black;
    line-height: 65px;
    height: 65px;
    width: 800px;
    margin-left: 140px;
}
.block{
    margin: 20px 0 50px 220px;
}
nav{
    width: 750px;
}
.container{
    width: 800px;
    display: flex;
    background-color: white;
    margin-left: 140px;
}
main{
    width: 600px;
    padding: 5px;
}
.right{
    width: 300px;
    padding: 20px;
}
.right h2 {
    font-size: 23px;
    background-color:rgb(79, 173, 255);
    color: white;
    margin-top: 15px;
}
.right a {
    text-decoration: none;
    color: rgb(108, 214, 32);
    font-size: 19px;
}
.right p {
    font-size: 19px;
    background-color: rgb(243, 238, 229);
}
footer{
    padding: 30px 0;
    text-align: center;
    background-color:rgb(200, 255, 160) ;
    line-height: 5px;
    width: 800px;
    margin-left: 595px;
}
footer a {
    text-decoration: none;
    color: rgb(108, 214, 32);
}
nav a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin-left: 10px;
    padding: 3px;
}
main h1{
    color:  rgb(108, 214, 32);
  
}
main h2{
    color:  rgb(108, 214, 32);
}
main p{
    margin: 10px 0;
    text-align: justify;
}
main a {
    color: rgb(108, 214, 32);
    text-decoration: none;
}
.hat {
    font-size: 50px;
    color: white;
    margin-left: 140px;
}
img {
    width: 800px;
    margin-left: 140px;
}
